// body{
//   background: $primary;
// }

.row{
  @include dimension(100%,auto);
  padding: 10px;
  border: 1px solid red;
}
.clearfix::after{
  clear:both;
  display: table;
  content:"";
}
.col{
  float:left;
}

div, nav, header, footer{
  height:auto;
  min-width:100px;
  padding: 10px;
}
.header-socialLinks{
  float:right;
}



.container{
  background: #3D2923;
}


.gallery{
  margin: 100px auto;
}
