body{
  font-family: 'Montserrat', sans-serif;
  color: $secondary;
}
li{
  list-style: none;
  margin: 10px 15px;
  font-weight: 80;
  font-style: italic;
}
a{
  text-decoration: none;
}
a:link{
  color: $secondary;
  font-weight:  400;
  font-size: 5rem;
}
a:visited{
  color: $tertiary;

}
a:hover{
  color: $tertiary;
  text-decoration: underline;
  text-decoration-color: white;
}
h1{
  font-weight: 800;
  color: white;
  text-align: center;
}
h3{
  font-weight: 400;
}

p{
  @include textStyle(2rem, 100, black, white, none, 20px, 40px, 1px, center);
  // border-radius: ;
}
.home-text{
  padding: 40px;
}


.heading {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin: 30px;

}
